[user]
	name = Keksi
	email = me@keksi.dev
	signingkey = 3CC5E548C326A384
[core]
	excludesfile = ~/.gitignore_global
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
[merge]
	conflictStyle = zdiff3
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
[alias]
	unstage = reset HEAD --
	uncommit = reset --soft HEAD~
[init]
	defaultBranch = main
[checkout]
	defaultRemote = origin
[commit]
	gpgsign = true
[gpg]
	program = gpg
