[user]
	name = "Keksi"
	email = "git@keksi.dev"

[core]
	pager = delta

[alias]
	unstage = reset HEAD --
	uncommit = reset --soft HEAD~

[init]
	defaultBranch = main

[checkout]
	defaultRemote = origin

[pull]
	rebase = true

[push]
	autoSetupRemote = true
	default = current
	followTags = true

[merge]
	conflictStyle = zdiff3

[interactive]
	diffFilter = delta --color-only

[color]
	ui = auto

[delta]
	navigate = true

[credential "https://github.com"]
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = !gh auth git-credential
